<%- include("templates/header") %>
    <h1>Hello <%= name%>!</h1>
    <a href="/members"><button>Go to members arena</button></a>
    <form action='/logout' method='post'>
        <button>Logout</button>
    </form>
    <%- include("templates/footer") %>